    .chat-item {
    min-width: 300px;
    padding: 20px;
    background-color: #F2F6F9;
    box-shadow: 0 0 2px 0 rgba(49,69,89,0.18);
    cursor: pointer;

    .chat-item-box {
        display: flex;
        align-items: center;
        .jdenticon{
            margin-right: 20px;
        }
    }

    .chat-item-text {
        .chat-item-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 16px;
        margin: 0 !important;
        color: rgb(0, 126, 255);
        }

        .chat-item-message {
        margin-top: 18px;
        }
    }

}

.selected {
    background-color: #E6E6E6;
}
