@import '../../config.scss';

.project-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% auto;
    width: 700px;
    top: 50px;

        .project-info{
        font-size: 24px;
        font-weight: 600;
        color: $alternateSecondary;
        }

    .project-create-form{
        display: flex;
        flex-direction: column;
        margin-top: 25px;

        .project-name {
            width: 40%;
        }

        .project-input {
            margin: 16px;
            background: $primary;
        }

        .project-row {
            display: flex;
            justify-content: space-between;
        }
        .project-duration , .project-category, .project-language, .project-programming-language, .project-size{
            width: 100%;
        }
                
        .project-category, .project-members {
            width: 93%;
        }
    }
        .create-button {
        margin: 0 auto;
        width: 50%;
        padding: 10px;
        margin-top: 30px;
        background-color: $alternate;
    }

    .default {
        color: rgba(17, 17, 17, 0.644) !important;
    }

}

.description-pc {
    background-image: url('../../assets/bg1.jpg') !important; 
    background-size: cover !important;
}

.modal {
    border-radius: 5px !important;
}

.description-pc {
    background: $primary     !important;
}

.description {
    background: $primary;
    .MuiInputBase-input  {
        background-color: $primary !important;
    }

    #outlined-multiline-static {
        background-color: $primary !important;
    }

    label {
        color: rgba(206, 206, 206, 0.644)
    }

    .text {
        color:  rgba(206, 206, 206, 0.644) !important;
    }
}
