@import '../../config.scss';

.formIn {
  display: flex;
  border-left: 2px solid rgba(0, 0, 0, 0.116);
  border-right: 2px solid rgba(0, 0, 0, 0.116);
  background-color: $primary;
  height: $inputHeight;
}

.inputIn {
  border-radius: 40px;
  border: none;
  margin-left: $XVW7;
  margin-right: $XVW9;
  margin-bottom: $XVW10;
  margin-top: $XVW10;
  padding-left: $XVW8;
  width: 100%;
  background: #F2F2F2;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: $XVW5 ;
  background: none;
  border: none;
  cursor: pointer;
  color: $alternateSecondary;
}