.form-in {
  display: flex;
  border-left: 2px solid rgba(0, 0, 0, 0.116);
  border-right: 2px solid rgba(0, 0, 0, 0.116);
}

.input-in {
  border-radius: 40px;
  border: none;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 1%;
  width: 100%;
  background: #F2F2F2;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  margin-bottom: 10px;
  margin-right: 25px;
  background: none;
  border: none;
  cursor: pointer;
}