@import "../../config.scss";

.chatTab {
    max-height: 100%;
    width: 100%;
    background-color: $primary;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    .chatTabHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: $chatHeaderHeight;
        background: $primary;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-left: none;
        border-right: none;
        
        .chatTabIcon {
            font-size: $XVW8 - $XVW12;
            color: $font;
        }
        .chatTabTitle {
            margin-left: $XVW12;
            font-size: $XVW8 - $XVW12;
            font-weight: 500;
            color: $font;
        }
    }

    .chatTabSearch {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        margin-top: $XVW10;
        min-height: $YVH5;

        .chatTabSearchIcon {
            position: absolute;
            left: $XVW8 + $XVW11;
            top: $YVH3 + $YVH9 + $YVH11;
            font-size: $XVW9 + $XVW12;
        }

        .chatTabSearchInput {
            background-color: rgb(230, 230, 230);
            height: $XVW7;
            width: 90%;
            border: none;
            padding: $XVW10 0 $XVW10 ($XVW7 + $XVW10);
            border-radius: 20px;
        }
    }

    .chatTabItem {
        height: 92vh - ($YVH5 + $chatHeaderHeight);
        overflow-y: scroll;
    }
}
