    .chat-item {
    min-width: 300px;
    padding: 20px;
    background-color: #F2F6F9;
    box-shadow: 0 0 2px 0 rgba(49,69,89,0.18);
    cursor: pointer;

    .chat-item-box {
        display: flex;

        .jdenticon{
            margin-right: 20px;
        }
    }

    .chat-item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    color: rgb(0, 126, 255);
    }

}

.selected {
    background-color: #E6E6E6;
}
