@import "../../config";

.filterBox {
    min-width: $XVW3 + $XVW11;
    background-color: $secondary;
    border-radius: 5px;
    height: 100%;
    padding-bottom: $YVH6;

    .searchFilterContainer {
        .tabContainer {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            color: $alternateSecondary;
            .tabProjectSearch,
            .tabMemberSearch {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: $XVW10 + $XVW12;
                height: $YVH5 - $YVH10;
                font-weight: 600;
                cursor: pointer;
                outline: none;
                padding: $XVW10 + $XVW11 $XVW10 + $XVW11;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .tabMemberSearch {
                color: $alternate;
                background-color: $primary;
            }
        }

        .tabTitle {
            display: flex;
            flex-direction: row;
            height: $XVW6 + $XVW10;
            align-items: center;
            margin-left: $XVW9;

            .logo {
                font-size: $XVW9;
                color: $alternateSecondary;
            }
            .filterBigTitle {
                font-size: $XVW9 + $XVW12;
                font-weight: 600;
                line-height: 24px;
                color: $alternateSecondary;
                align-items: center;
            }
        }
        .searchOptions {
            display: flex;
            flex-direction: column;
            
            .projectTitleSearch {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .searchInput {
                margin: $XVW12 0;

                .searchType {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .input {
                        input {
                            width: $XVW4 + $XVW6;
                            padding: $XVW10 $XVW8;
                            background-color: #4E4F50;
                        }
                    }
                }
                
                .filterTitle {
                    display: flex;
                    flex-direction: row;
                    font-size: $XVW10 + $XVW12;
                    font-weight: 600;
                    color: $font;
                    margin: $XVW10 $XVW9;
                }

                .sliderContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: $XVW9;

                    .slider {
                        width: $XVW4 + $XVW7;
                        color: $alternateSecondary;

                        .MuiSlider-markLabel {
                            color: $font;
                            font-size: $XVW10;
                        }
                    }
                }

                .form {
                    margin-left: $XVW8;

                    .field {
                        margin-bottom: $XVW9 + $XVW13 !important;
                    }

                    .checkbox {
                        margin-bottom: 0;
                        
                        label {
                            color: $font;
                            font-size: $XVW9;
                             
                        }

                        label::before {
                            width: $XVW9 + $XVW13;
                            height: $XVW9 + $XVW13;
                        }

                        label::after {
                            width: $XVW9 + $XVW13;
                            font-size: $XVW9;
                        }
                    }
                } 
            }
        }

        .searchButton {
            display: flex;
            justify-content: center;
            margin-top: $YVH7 + $YVH10;
            position: sticky;
            bottom: 10px;

            .button {
                font-size: $XVW10 + $XVW12;
                padding: $XVW9;
                background-color: $alternate;
                color: white;
            }
        }
    }

    .checkbox {
        color: #007eff;
    }
}

@media (max-width: 1440px) {
    .form {
        .checkbox {
            label::after {
                width: $XVW9 + $XVW13;
                left: -0.5px;
                top: -1.5px;
                font-size: $XVW9;
            }
        }
    } 
}
