.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFF;
  border: 2px solid rgba(0, 0, 0, 0.116);
  border-left: 2px solid rgba(0, 0, 0, 0.116);
  border-right: none;
  height: 58px;
  width: 100%;
}

.jdenticonInfobar{
  margin-left: 10px;
  margin-right: 5px;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 1%;
  color: rgb(0, 126, 255);
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
  

  .closeIcon{
    position: absolute;
    right: 1.5%;
    top: 82px;
  }
}

.onlineIcon {
  margin-right: 4%;
}

h3 {
  margin-top: 0;
}
