.chatOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 93vh;

    .chatTab{
        width: 22vw;
    }

    .chat, .chatPlaceholder {
        z-index: 1;
        width: 56vw; 
    }
    
    .chatProjectMembers {
        width: 22vw;
    }


}

