@import '../../config.scss';

.chatOverview {
    display: flex;
    flex-direction: row;
    height: 100vh - $headerHeight;

    .chatTab{
        width: $chatSideWidth;
    }

    .chat, .chatPlaceholder {
        z-index: 1;
        width: 100vw - $chatSideWidth + $chatSideWidth; 
    }
    
    .chatProjectMembers {
        width: $chatSideWidth;
    }
}

