@import '../../config';

.project {
    padding: 8px 16px 8px 16px;
    
    .projectItem {
    background-color: $secondary;
    box-shadow: 0 4px 8px 0 rgba(49,69,89,0.16);
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    .projectSidebar{
    display: flex;
    flex-direction: column;
    width: 10px;
    align-items: center;
    padding: 20px 10px 20px 20px;
    min-width: 140px;
    text-align: center;

    .userSection {
        .userName{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor:pointer;

            .flag{
                box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
            }

            .name, .name:hover{
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                padding: 12px 14px 14px 14px;
                color: $font;
                cursor: pointer;
            }
        }
    }

    }

    .projectDetail{
        display:flex;
        flex-direction: column;
        width:600px;
        max-width:600px; 
        width: 100%;
        padding:20px 20px 20px 15px;
        
        .projectNameButtonRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .projectTitle{
            font-size: 18px;
            font-weight: 600;
            color:  $alternateSecondary;
            }

            .createdAt {
            margin-right: 20px;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            color: $font;
            }
            
            .iconButton{
                height: 30px;
                background-color: $alternateSecondary;
            }
        }

        .projectCreatedButtonEnd{
            display: flex;
            flex-direction: row;
        }

        .readmoreDiv{
            position: relative;
            color: $font;
            min-width: 550px !important;
        }

        .projectName, .projectDescription {
        display: flex;
        flex-direction: column;
        padding: 0 0px 12px 0;

        .projectLabel{
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            color: $font;
        }
    }
        
        .firstHrDiv{
        margin-top:16px;
        }

        .hrDiv{
        width: 100%;
        height: 4px;
        background-color: gray;
        }
        
        .columnBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $font;

            .firstRow, .secondRow{
                display: flex;
                flex-direction: column;
                padding: 13px 13px 13px 0;
            }
        }
    }
    
    .spanAddMargin {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: $font;
    }
    }   
}

/*@media (max-width: 800px) {
.projectItem {
    width: 200px;
    }
}*/