.chat-tab-header {
    display: flex;
    flex-direction: row;
    padding: 15px 0 15px 15px;
    background-color: #2979FF;
    box-shadow: 0 0 2px 0 rgba(49,69,89,0.18);
    border-radius: 4px 4px 0 0;

    .chat-tab-icon {
        margin-top:5px;
    }
    .chat-tab-title{
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500;
        color: #FFFF;
    }
}