@import '../../config';

.availableHeader {
    padding: $XVW10 0px $XVW8 $XVW7;
    .availableText{
        Font-size: 20px;
        Font-weight: 600;
        color: $alternate;
        }

}

.noProjectsWarning {
    margin-left: 32px;
}

.projectsPage {
    display: flex;
    justify-content: center;
}

.resetFilterButton {
    cursor: pointer;
    color:  rgb(0, 128, 255);
}