.available-header {
    padding: 8px 0px 24px 32px;
    .available-text{
        Font-size: 20px;
        Font-weight: 600;
        color: rgb(49, 69, 89);
        }

}

.noProjectsWarning {
    margin-left: 32px;
}

.projectsPage {
    display: flex;
    justify-content: center;
}

.resetFilterButton {
    cursor: pointer;
    color:  rgb(0, 128, 255);
}