.contactHeader {
    margin-bottom: 30px !important;
}

.contactForm {
     width:50%;
     margin:40px auto;
     display:block;

     .contactSubmit {
         float: right;
     }

}


.swal-height {
    height: 60px;
    margin-top: 60px;
}
