.register {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 525px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    
    .title{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: rgb(49, 69, 89);
    }

    .input-form {
        padding: 8px 0 25px 0;
    }

    .input{
        padding: 16px 0 16px 0;
    }

    .input-section {
        background-color: white;
        width: 100%;
    }

    .register-button button{
        margin-top: 3px;
        width: 100%;
        padding: 10px;
        background-color: #006FE2;
    }

    .no-account {
        margin-top: 50px;
        text-align: center;
    }

    .sign-in-button {
        width: 100%;
        padding: 10px;
        background-color: #006FE2;
    }
    
}