@import "../../config";

.headerContainer {
    display: flex;
    width: 100%;
    height: $headerHeight;
    background-color: $primary;

    .headerInner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: $shadow;
        padding: 0 $XVW8;

        .logoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $XVW3;

            .logo {
                width: $X0;
                align-items: center;
            }
        }

        .options {
            height: 100%;
            width: $XVW3 + $XVW7;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: $XVW9;
            font-weight: 600;

            .optionEach {
                color: $font;
            }
        }

        .userHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: $XVW3;

            .imageBorder {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                min-width: $XVW8 + $XVW9 + $XVW13;
                min-height: $YVH7 + $YVH8;
                background-color: $secondary;
            }

            .userImg {
                border-radius: 50%;
                width: $XVW7;
            }

            .userName {
                font-size: $XVW9 + $XVW14;
                color: $font;
            }

            .menuIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: $XVW4 - $XVW8;

                .menuIcon {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    min-width: $XVW7;
                    min-height: $YVH6 + $YVH9;
                    background-color: $secondary;
                    transition: ease 0.5s;

                    .large,
                    .MuiSvgIcon-root {
                        color: $font;
                        font-size: $XVW9 + $XVW12 !important;
                        margin: 0 !important;
                    }
                }

                .menuIcon:hover {
                    background-color: $alternate;
                }
            }
        }

        .authOptions {
            width: $XVW3;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .registerButton {
                background-color: $alternate;
                margin-left: $XVW10;
            }
            Button {
                color: $font;
                font-size: $XVW10 + $XVW13;
                font-weight: 600;
            }
        }

        hr {
            height: $YVH10;
            width: 100%;
            margin: 0;
            background: $alternate;
            border: none;
            transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
            position: relative;
            top: $YVH7 + $YVH14;
            opacity: 0;
        }

        .optionEach:hover hr {
            opacity: 1;
        }

        .hrHighlight {
            opacity: 1;
        }
    }
}
