@import "../../config";

.currentPath {
    padding: $XVW9 0 $XVW9 0;
    width: 1040px;
    margin: 0 auto;
       
    .homeButton {
        text-decoration: none;
        color: $alternateSecondary;
        font-size: $XVW9 - $XVW14;
        font-weight: 600;
    }

    .currentLocation {
        font-size: $XVW9 - $XVW14;
        font-weight: 400;
        color: $alternate;
    }
}
