.filter-box {
    min-width: 280px; 
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(49,69,89,0.18);
    .tab-container{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
            .tab-project-search, .tab-member-search{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 14px;
                height: 48px;
                font-weight: 600;
                text-transform: capitalize;
                cursor: pointer;
                max-width: 232px;
                outline: none;
                padding: 16px 16px;
                border-radius: 2px;
            }

            .tab-member-search{
                color: #007eff;
                background-color: #DBE5EE;
            }
    }
}

@media (max-width: 1000px) {
.filter-box{
   display: none;
    }
}

