.project {

    padding: 8px 16px 8px 16px;

    .project-item {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(49,69,89,0.16);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-width: 750px;

    .project-sidebar{
    display: flex;
    flex-direction: column;
    width: 10px;
    align-items: center;
    padding: 20px 10px 20px 20px;
    min-width: 140px;
    text-align: center;

    .user-section {
        .picture{
            border-radius: 50%;
            width: 90px;
            background-color: #EEF4F9;
        }
        .user-name{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor:pointer;

            .flag{
                box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
            }

            .name, .name:hover{
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                padding: 12px 14px 14px 14px;
                color: rgb(0, 126, 255);
                cursor: pointer;
            }
        }
    }

    .date{
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: rgb(145, 166, 180);
            position: relative;
            align-items: center;
            top: 100px;
        }
    }

    .project-detail{
        display:flex;
        flex-direction: column;
        width:600px;
        max-width:600px; 
        width: 100%;
        padding:20px 20px 20px 15px;
        
        .project-name-button-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .project-title{
            font-size: 18px;
            font-weight: 600;
            color:rgb(0, 126, 255);
            }

            .created-at {
            margin-right: 20px;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            color: rgb(178, 197, 209);
            }
            
            .icon-button{
                height: 30px;
                background-color: #007eff;
            }
        }

        .project-created-button-end{
            display: flex;
            flex-direction: row;
        }

        .readmore-div{
            position: relative;
            width: 550px !important;
        }

        .project-name, .project-description {
        display: flex;
        flex-direction: column;
        padding: 0 0px 12px 0;

        .project-label{
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            color: rgb(178, 197, 209);
        }
    }
        
        .first-hr-div{
        margin-top:16px;
        }

        .hr-div{
        width: 100%;
        height: 4px;
        background-color: #f2f6f9;
        }
        
        .column-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
            .first-row, .second-row{
                display: flex;
                flex-direction: column;
                padding: 13px 13px 13px 0;
            }
        }
    }
    
    .span-add-margin {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        color: rgb(165, 188, 204);
    }
    }   
}
