@import '../../config.scss';

.projectMember{
    .innerProjectMember {
        display: flex;
        flex-direction: row;
        margin-top: $XVW9;
        margin-left: $XVW8;
        margin-bottom: $XVW8;
    }

    .userImg {
        width: 10px !important;
    }
    
    .projectMemberTitleOwner {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $XVW9;
        font-weight: 600;
        margin-left: $XVW8;
        color: $font;
    }
    
    .projectMemberTitle {
        display: flex;
        align-items: center;
        font-size: $XVW9;
        font-weight: 600;
        margin-left: $XVW8;
        color: $font;
    }
}
