@import "./config";

a {
    text-decoration: none;
    color: black;
}

.header-pf {
  margin:0 !important;
  padding:0 !important;
}

.main-content{
  height: 100%;
  background-color: $background;
}

input, select, textarea{
  color: white !important;
  background-color: #4E4F50 !important;
}
