$primary: #242526;     
$secondary: #3a3b3c;
$background: #18191a;
$alternate: #b85049;
$alternateSecondary: #ff7844;
$font: #eeeeeee1;

// Porcentajes aureos
$X0: 61.8046971569839%;
$Y0: 61.8046971569839%;
$X1: 38.1701231515817%;
$Y1: 38.2094664194479%;
$X2: 23.5773474339605%;
$Y2: 23.627420683972%;
$X3: 14.5927757176212%;
$Y3: 14.6142356819118%;
$X4: 9.04179828778098%;
$Y4: 9.04537494849609%;
$X5: 5.60820400128187%;
$Y5: 5.60105067985167%;
$X6: 3.49082085794076%;
$Y6: 3.47651421508035%;
$X7: 2.17460971478277%;
$Y7: 2.15672641120725%;
$X8: 1.31621114315799%;
$Y8: 1.31978780387309%;
$X9: 0.801172000183125%;
$Y9: 0.804748660898228%;
$X10: 0.515039142974866%;
$Y10: 0.482849196538937%;
$X11: 0.343359428649911%;
$Y11: 0.289709517923362%;
$X12: 0.228906285766607%;
$Y12: 0.193139678615575%;
$X13: 0.114453142883304%;
$Y13: 0.128759785743716%;
$X14: 0.0572265714416518%;
$Y14: 0.0643798928718582%;

// View Holder Aurico
$YVH0: 61.8046971569839vh;
$YVH1: 38.2094664194479vh;
$YVH2: 23.627420683972vh;
$YVH3: 14.6142356819118vh;
$YVH4: 9.04537494849609vh;
$YVH5: 5.60105067985167vh;
$YVH6: 3.47651421508035vh;
$YVH7: 2.15672641120725vh;
$YVH8: 1.31978780387309vh;
$YVH9: 0.804748660898228vh;
$YVH10: 0.482849196538937vh;
$YVH11: 0.289709517923362vh;
$YVH12: 0.193139678615575vh;
$YVH13: 0.128759785743716vh;
$YVH14: 0.0643798928718582vh;

$XVW0: 61.8046971569839vw;
$XVW1: 38.1701231515817vw;
$XVW2: 23.5773474339605vw;
$XVW3: 14.5927757176212vw;
$XVW4: 9.04179828778098vw;
$XVW5: 5.60820400128187vw;
$XVW6: 3.49082085794076vw;
$XVW7: 2.17460971478277vw;
$XVW8: 1.31621114315799vw;
$XVW9: 0.801172000183125vw;
$XVW10: 0.515039142974866vw;
$XVW11: 0.343359428649911vw;
$XVW12: 0.228906285766607vw;
$XVW13: 0.114453142883304vw;
$XVW14: 0.0572265714416518vw;

$shadow: 0px 0px 1px 0px rgb(255, 255, 255);

$headerHeight: $YVH5 + $YVH8;
$chatHeaderHeight: $YVH5 + $YVH10;
$inputHeight: $YVH6 + $YVH6;
$chatSideWidth: $XVW2 - $XVW7;