.chatOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .chatTab{
        min-width: 420px;
    }

    .chat, .chatPlaceholder, .membersPlaceholder {
        width: 100%; 
    }
    
    .chatProjectMembers {
        min-width: 420px;
    }


}

