.current-path{  
    padding: 16px 0 16px 0;
    
.home-button{
    text-decoration: none;
    color: rgb(0, 126, 255);
    font-size: 14px;
    font-weight: 600;  
    line-height: 16px;
}

.current-location{
    font-size: 14px;
    font-weight: 400;  
    line-height: 16px;
    color:  rgb(49, 69, 89);
}

}